<!doctype html>
<html ng-app="app1">
	<head>
		<link rel="stylesheet"
			  href="assets/css/styles.css">
		<title>Student reports generator</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1 class="site-title">Student Reports Generator</h1>
			</div>

			<!-- VIEW CONTROLLER -->
			<div ng-controller="viewController">

				<div
					class="row"
					ng-controller="studentsController"
				>

					<div class="col-md-9 col-xs-12">
						<div>
							<h2>{{views[currentView].jTitle}}</h2>
							<p class="lead">{{views[currentView].jDescription}}</p>
						</div>
						<!-- Load import form from separate file -->
						<ng-include
							ng-if="currentView == 0"
							src="'components/import/import.html'"
						></ng-include>
						<ng-include
							ng-if="currentView == 1"
							src="'components/template/template.html'"
						></ng-include>
						<ng-include
							ng-if="currentView == 2"
							src="'components/reportBuilder/reportBuilder.html'"
						></ng-include>
					</div>


					<div class="col-md-3 col-xs-12">
						<!--NAVIGATION-->
						<div class="panel panel-default">
							<div class="panel-heading">Navigation</div>
							<div class="panel-body">
								<ul class="nav nav-pills nav-stacked"
									id="section-nav">
									<li ng-class="(0 == currentView) ? 'active' : ''">
										<a ng-click="switchView($event, 0)">Import Students</a>
									</li>
									<li ng-class="(1 == currentView) ? 'active' : ''">
										<a ng-click="switchView($event,1)">Manage Templates</a>
									</li>
									<li ng-class="(2 == currentView) ? 'active' : ''">
										<a ng-click="switchView($event,2)">Build a Report</a>
									</li>
								</ul>
							</div>
						</div>
						<!--CLASS LIST-->
						<div class="panel panel-default panel-students">
							<div class="panel-heading">Your Students</div>
							<div class="panel-body">
								<ul class="namelist list-unstyled">
									<li
										ng-repeat="name in names"
										ng-click="setSelectedStudent($index)">
										<span class="name">{{name.fName}} {{name.lName}}</span>
										<span class="glyphicon clickable glyphicon-remove pull-right"
											  ng-click="removeStudentAtIndex($index)"
										></span>
									</li>
								</ul>
							</div>
						</div>
						<!--HELP-->
						<div ng-controller="helpController">
							<div class="panel panel-default panel-help">
								<div class="panel-heading">Help</div>
								<div class="panel-body">
									<div ng-repeat="comments in helpComments[currentView]">
										<h4>{{comments[0]}}</h4>
										<p>{{comments[1]}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Load the AngularJS library -->
		<script src="node_modules/angular/angular.min.js"></script>
		<!-- Load angular animations library -->
		<script src="node_modules/angular-animate/angular-animate.min.js"></script>
		<!-- Load the JS Module -->
		<script src="js/init.js"></script>
		<script src="components/viewController/viewController.js"></script>
		<script src="components/import/import.js"></script>
		<script src="components/import/studentService.js"></script>
		<script src="components/template/templateService.js"></script>
		<script src="components/template/template.js"></script>
		<script src="components/reportBuilder/reportBuilder.js"></script>
		<script src="components/help/help.js"></script>
	</body>
</html>
