<div ng-controller="reportController">
	<link rel="stylesheet" href="components/reportBuilder/builder.css">
	<h3>Report Builder</h3>

	<!-- <h3>{{$parent.names[selectedStudent].fName}} {{$parent.names[selectedStudent].lName}}</h3> -->
	<h3>{{getSelectedStudent().fName}} {{getSelectedStudent().lName}}</h3>
	<label for="pronoun">Gender pronoun
		<select ng-if="getSelectedStudent().gender != null" id="pronoun" ng-model="getSelectedStudent().gender">
	  		<option value="m">Male</option>
	  		<option value="f">Female</option>
	  		<option value="n">Neutral pronoun</option>
		</select>
		<select ng-if="getSelectedStudent().gender == null" id="pronoun" ng-model="getSelectedStudent().gender">
			<option value="">---Please select---</option>
			<option value="m">Male</option>
	  		<option value="f">Female</option>
	  		<option value="n">Neutral pronoun</option>
		</select>
		<!-- TODO: Make that cog bring up options relating to student pronouns -->
		<span class="glyphicon clickable glyphicon-cog" onclick="alert('options relating to student pronouns')"></span>
	</label>

	<h3>Questionaire</h3>
	<div>
		<div ng-repeat="aspect in template.aspects" >
			<span class="aspect-name">{{aspect.aName}}</span>
			<div class="question">
				<div ng-repeat="option in aspect.comments">
					<label>
						<input type="radio" name="{{$parent.$index}}" value="{{$index}}" ng-model="answers[$parent.$index]">
						{{option[0]}}
					</label>
				</div>
				<!-- <span><input type="checkbox" name="" value="enabled" class="toggle" checked>Enabled</span> -->

			</div>
		</div>
	</div>
	<button ng-click="generate()" class="btn btn-primary">Generate report</button></br></br>
	<label for="output">Generated report:
		<textarea name="output" class="form-control" rows="8" cols="80" ng-model="getSelectedStudent().report"></textarea>
	</label>
	
	
	<h3>Answers</h3>
	<table>
		<tr>
			<th>Aspect</th>
			<th>Choice</th>
		</tr>
		<tr ng-repeat="aspect in template.aspects">
			<td>{{aspect.aName}}</td>
			<td>{{template.aspects[$index].comments[answers[$index]][0]}}</td>
		</tr>
	</table>
</div>
