<div ng-controller="templateController" class="col-lg-6 col-md-6s col-sm-6">
	<form>
		<h3>Create template</h3>

		<div class="form-group row">
			<div class="row col-sm-12">
				<label for="name">Template name</label>
				<input type="text" id="name" class="form-control" ng-model="template.name" placeholder="Example: Chemistry lvl3 A">
			</div>
		</div>

		<h3>Aspects</h3>
		<div class="form-group row">

			<!-- Row of buttons for selecting the current aspect to edit -->
			<button ng-if="template.aspects.length > 0"
					ng-repeat="aspect in template.aspects"
					ng-click="changeAspect($index)"
					ng-class="($index == currentAspect) ? 'btn btn-default active' : 'btn btn-default'">
				{{aspect.aName}}
			</button>
		</div>

		<div class="form-group row">
			<button class="btn btn-success"
					ng-click="toggleAddingAspect()"
					ng-if="addingAspect == false">Add aspect</button>

			<div class="col-xs-3" ng-if="addingAspect">
				<input type="text" ng-model="$parent.newAspectName" class="form-control">
			</div>

			<button ng-if="addingAspect" ng-click="addAspect()" class="btn btn-success">Add</button>
		</div>

		<!-- Text inputs for entering comments -->
		<div class="form-group row"
			 ng-if="template.aspects.length > 0"
			 ng-repeat="comment in template.aspects[currentAspect].comments">

			 <div class="row col-sm-3">
 			   <input type="text" class="form-control" ng-model="comment[0]" placeholder="Label">
 			 </div>

			 <div class="row col-sm-9">
			 	<input type="text" class="form-control" ng-model="comment[1]" placeholder="Comment">
			 </div>

			 <div>
			 	<button class="btn btn-danger" onclick="alert('todo')">x</button>
			 </div>
		</div>

		<button ng-if="template.aspects.length > 0" ng-click="addCommentToAspect(currentAspect)" class="btn btn-success">Add comment</button>


	</form>

	<br>
	<button ng-click="create()">Test</button>
</div>
